@model User

<div class="container d-flex">
    <button id="toggleSidebar" class="btn btn-light position-fixed" style="top: 60px; left: 0px; z-index: 1050; transition: left 0.3s ease;">
        ☰ 
    </button>
    <div id="sidebar"
         style="
        width: 300px;
        height: 100vh;
        background: #343a40;
        color: white;
        position: fixed;
        top: 55px;
        left: -300px;
        transition: left 0.3s ease;
        padding: 20px;
        z-index: 1040;
        border-radius: 0 10px 10px 0;
       ">
        <h4>personal data</h4>
        <form asp-controller="Account" asp-action="UploadImage" method="post" enctype="multipart/form-data">
            <div class="mb-3">
                <label for="ImageFile" class="form-label">Choose Image</label>
                <input class="form-control" type="file" id="ImageFile" name="ImageFile" accept="image/*" required />
            </div>
            <button type="submit" class="btn btn-primary">Up Load</button>
        </form>
        
    </div>
    <div class="container text-center bg-light m-5" style="border-radius: 10%;">
        @{
            if (CheckNullAvatar(Model.image))
            {
                <img class="avatar m-2" src="https://avatars.mds.yandex.net/i?id=8f3785330e05afb1b2e5bc170e1e9fc84e3a1a38-10702804-images-thumbs&n=13" alt="Avatar" />
            }
            else
            {
                var base64Img = $"data:image/png;base64,{Convert.ToBase64String(Model.image)}";
                <img class="avatar m-2" src="@base64Img" alt="Avatar" />
            }
        }
        <div class="container">
            <h2>@Model.name @Model.surname</h2>
        </div>
        <div class="container">
            <p>@Model.login @Model.Password</p>
        </div>
        <div class="container">
            <p>@Model.Email</p>
        </div>
        <div class="container">
            <p>@Model.phone</p>
        </div>
        <div class="container">
            <p>@Model.aboutMe</p>
        </div>
    </div>
</div>

<script>
    const sidebar = document.getElementById('sidebar');
    const toggleBtn = document.getElementById('toggleSidebar');

    let isOpen = false;

    toggleBtn.onclick = () => {
      if (!isOpen) {
        sidebar.style.left = '0';
        toggleBtn.style.left = '310px';
      } else {
        sidebar.style.left = '-300px';
        toggleBtn.style.left = '10px';
      }
      isOpen = !isOpen;
    };

    document.addEventListener('click', (e) => {
      if (isOpen && !sidebar.contains(e.target) && !toggleBtn.contains(e.target)) {
        sidebar.style.left = '-300px';
        toggleBtn.style.left = '10px';
        isOpen = false;
      }
    });
</script>
@{
    bool CheckNullAvatar(byte[] mas)
    {
        foreach( var b in mas)
        {
            if(b != 0)
            {
                return false;
            }
        }
        return true;
    }
}

