@model User
<div class="text-center">
	<h1>@Model.Username</h1>
	<p>your id: @Model.Id</p>
	<p>your login: @Model.Username</p>
	<p>your password: @Model.Password</p>
	<p>your email: @Model.Email</p>
</div>